/* ---------- SCROLL ANIMATION BASE ---------- */
.animateOnScroll {
  /* opacity: 0; */
  transition:
    opacity 0.6s ease,
    transform 0.6s ease;
  will-change: transform, opacity;
  transition-delay: calc(var(--delay, 0) * 120ms);
}
.employeeTable thead tr{
  background: rgba(248, 250, 252, 1);
  border: 1px solid rgba(226, 232, 240, 1)

}

/* ---------- FROM LEFT ---------- */
.fromLeft {
  transform: translateX(-40px);
}

.fromRight {
  transform: translateX(40px);
}

.inView {
  opacity: 1;
  transform: translateX(0);
}






.mainContainer {
    background: #050505;

    padding: 20px;
       width: 100%;
    /* height: calc(100vh - 60px); */
    padding: 2% 6%;
}
.topcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 12px;
}
.topright{
    display: flex;
    align-items: center;
    gap: 12px;
}
.topleft{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.topleft1{
    color:#DDDDFF;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;
    
}
.topleft2{
    color: #DDDDFF;
    font-size: 15px;
}
.topright1, .topright2{
    padding: 10px 15px;
    background: rgba(255, 255, 255, 1);

    font-weight: 400;
font-size: 13.3px;
    border-radius: 8px;
    border: 1px solid #0000001A;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.topright1{
    background-color: #0050B8;
    color: #DDDDFF;
    border: 1px solid #6D78FF


}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.card{
  background: linear-gradient(287.95deg, rgba(0, 80, 184, 0.5) 1.36%, rgba(18, 20, 28, 0.5) 100%);

  border: 1px solid #e5e7eb;
  border-radius: 16px;

  box-shadow: 
    0 4px 12px rgba(15, 23, 42, 0.04),
    0 1px 3px rgba(15, 23, 42, 0.06);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
    padding: 24px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
}
.card:hover {
  transform: translateY(-6px);
  box-shadow:
    0 18px 40px rgba(15, 23, 42, 0.12),
    0 8px 16px rgba(15, 23, 42, 0.08);
     border: 1px solid rgba(104, 80, 190, 1);
     background-color: rgb(216, 229, 245);
}
.card1{
   background: linear-gradient(106.8deg, rgba(18, 20, 28, 0.5) 1.67%, rgba(0, 80, 184, 0.5) 119.07%);

  border: 1px solid #e5e7eb;
  border-radius: 16px;
  z-index:1;
  box-shadow: 
    0 4px 12px rgba(15, 23, 42, 0.04),
    0 1px 3px rgba(15, 23, 42, 0.06);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
    padding: 24px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
}
.card1:hover {
  transform: translateY(-6px);
  box-shadow:
    0 18px 40px rgba(15, 23, 42, 0.12),
    0 8px 16px rgba(15, 23, 42, 0.08);
     border: 1px solid rgba(16, 185, 129, 1);
     background-color: rgba(16, 185, 129, 0.08);
}
.card2{
   background: linear-gradient(106.8deg, rgba(18, 20, 28, 0.5) 1.67%, rgba(0, 80, 184, 0.5) 119.07%);

  border: 1px solid #e5e7eb;
  border-radius: 16px;

  box-shadow: 
    0 4px 12px rgba(15, 23, 42, 0.04),
    0 1px 3px rgba(15, 23, 42, 0.06);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
    padding: 24px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
}
.card2:hover {
  transform: translateY(-6px);
  box-shadow:
    0 18px 40px rgba(15, 23, 42, 0.12),
    0 8px 16px rgba(15, 23, 42, 0.08);
     border: 1px solid rgba(245, 158, 11, 1);
     background-color: rgba(245, 158, 11, 0.08);
}
.card3{
   background: linear-gradient(106.8deg, rgba(18, 20, 28, 0.5) 1.67%, rgba(0, 80, 184, 0.5) 119.07%);

  border: 1px solid #e5e7eb;
  border-radius: 16px;

  box-shadow: 
    0 4px 12px rgba(15, 23, 42, 0.04),
    0 1px 3px rgba(15, 23, 42, 0.06);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
    padding: 24px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
}
.card3:hover {
  transform: translateY(-6px);
  box-shadow:
    0 18px 40px rgba(15, 23, 42, 0.12),
    0 8px 16px rgba(15, 23, 42, 0.08);
     border: 1px solid rgba(104, 80, 190, 1);
     background-color: rgba(139, 92, 246, 0.1);
}
.cardleft{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.cardleft1{
    color: #DDDDFF;
    font-size: 13px;
}
.cardleft2{
    color: #DDDDFF;
    font-size: 20px;
}
.cardleft3{
    color: #DDDDFF;
    font-size: 13px;
}
.cardlogo2, .cardlogo3{
    width: 40px;
    height: 40px;
    background-color: rgba(0, 82, 204, 0.08);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DDDDFF;
}
.cardlogo1{
   width: 40px;
    height: 40px;
    background-color: rgba(139, 92, 246, 0.08);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6850BE;
}
.cardlogo5{
   width: 40px;
    height: 40px;
    background-color: rgba(0, 82, 204, 0.08);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6850BE;
}
.cardlogo2{
    background-color: #E6F6F1;
    color: #00A63E;
}
.cardlogo3{
    background-color: #FFF4E5;
    color: #FF7A00;
}
.graphcontainer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 25px;
    width: 100%;
}
.graphleft{
width: 60%;
height: 300px;
background: #12141C80;

border: 1px solid #E2E8F0;
border-radius: 10px;
min-height: 350px;
transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.graphright{
    width: 40%;
    height: 300px;
    overflow-y:hidden;
    background: #12141C80;

    border: 1px solid #E2E8F0;
    border-radius: 10px;
    min-height: 350px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.graphleft:hover,
.graphright:hover {
  transform: translateY(-4px);
  box-shadow: 0 14px 32px rgba(0,0,0,0.08);
}
.graphrighttop{
    padding: 18px;
    border-bottom: 1px solid #E2E8F0;
    font-size: 16px;
    color:#DDDDFF;
    display: flex;
    align-items: center;
    gap: 10px;
}
.graphrightbottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: 100%;
    overflow: auto;
    scrollbar-width: none;
}
.graphright1{
    width: 95%;
    padding:10px 20px;
    height: 30%;
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
     transition: transform 0.2s ease, box-shadow 0.2s ease;
     transition-delay: calc(var(--i) * 80ms);
}
.graphright1:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 24px rgba(0,0,0,0.08);
}
.bothgraph{
  border-bottom: 1px solid #E2E8F0;
  display:flex;
  padding:0px 20px 0px 0px;
  align-items: center;
  justify-content: space-between;
}
.graphright2{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.employeeTable tbody tr {
  transition: background 0.15s ease, transform 0.15s ease;
}

.employeeTable tbody tr:hover {
  background: #f8fafc;
  transform: scale(1.01);
}
.graphrightperformance{
  display:flex;
  flex-direction: row;
  gap:10px;
    color: #0F172B;
    font-size: 10px;
    margin-bottom: 6px;
}
.tags{
  background: rgba(241, 250, 255, 1);
  border: 1px solid rgba(219, 219, 219, 1);
  padding:5px 10px;
  border-radius: 12px;
}
.graphrightname{
    color: #45556C;
    font-size: 13px;
    margin-bottom: 6px;
}
.graphrightdate{
    color: #45556C;
    font-size: 12px;
    
}
.graphright3{
    display: flex;
    justify-content: center;
    height: fit-content;
}

.graphleft1{
  height: 60px;;
  color:#DDDDFF;
  font-size: 17px;
  display: flex;
  align-items: center;
  padding-left: 4%;
}
.graphtoggle{
    margin-top: 5px;
    display: flex;
    background-color: #43434380;
    color:white;
    min-width: 200px;
    padding:5px;
    width: 30%;
    height: 40px;
    border-radius: 8px;
    margin-left: 5%;
}
.leftweekly{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    font-size: 11px;
    color: #45556C;
}
.active {
    background-color: #6850BE;
    color: white;
}
.graphleft3{
    width: 100%;
    height: 200px;
    margin-top: 10px;
}
.tabletitle{
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 10px;
}


.wrapper2 {
  width: 100%;
  background: #101218;
  border: 1px solid #343843;
  border-radius: 14px;
  overflow: hidden;
}

.header {
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 18px;

  font-size: 17px;
  font-weight: 500;
  color: #ffffff;

  border-bottom: 1px solid #2a2d35;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead tr {
  background: #171717;
}

.table th {
  padding: 16px 18px;
  text-align: left;

  color: #f2f2f2;
  font-size: 15px;
  font-weight: 600;

  border-bottom: 1px solid #343843;
}

.table td {
  padding: 12px 18px;
  color: #f3f3f3;
  font-size: 15px;
  border-bottom: 1px solid #2d3039;
}

.table tbody tr:last-child td {
  border-bottom: none;
}

.table tbody tr {
  transition: background 0.25s ease;
}

.table tbody tr:hover {
  background: #161922;
}



.employee {
  display: flex;
  align-items: center;
  gap: 14px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;

  background: #5b45df;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-size: 12px;
  font-weight: 500;

  flex-shrink: 0;
}

.role {
  color: #b4b4b4 !important;
}

.center {
  text-align: center;
}



.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 68px;
  height: 24px;

  padding: 0 12px;
  border-radius: 8px;

  font-size: 12px;
  font-weight: 500;
}
.completed{
  background-color: #DCFCE7;
  color:#008236;
}
.incomplete{
  background-color: #f5d3d3;
   color:#820000;
}

/* Active */

.active {
  background: #1f2320;
  color: white;
}

/* Inactive */

.inactive {
  background: transparent;
  color: #8c8c8c;
  border: 1px solid #404040;
}

/* Training */

.training {
  background: #4b4b4b;
  color: #ececec;
}



.red1 {
  color: #ff5353 !important;
  font-weight: 500;
}



.actions {
  text-align: center;
  color: #f1f1f1;
  cursor: pointer;
  width: 60px;
}

.actions svg {
  stroke-width: 2;
  transition: 0.25s ease;
}

.actions:hover svg {
  color: #6d73ff;
}



.table th:nth-child(1),
.table td:nth-child(1) {
  width: 28%;
}

.table th:nth-child(2),
.table td:nth-child(2) {
  width: 24%;
}

.table th:nth-child(3),
.table td:nth-child(3) {
  width: 18%;
}

.table th:nth-child(4),
.table td:nth-child(4) {
  width: 10%;
}

.table th:nth-child(5),
.table td:nth-child(5) {
  width: 10%;
}

.table th:nth-child(6),
.table td:nth-child(6) {
  width: 10%;
}

.table th:nth-child(7),
.table td:nth-child(7) {
  width: 6%;
}



@media (max-width: 992px) {
  .wrapper {
    overflow-x: auto;
  }

  .table {
    min-width: 900px;
  }
}

/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 24px;
}

.modal {
  width: 600px;
  height:90vh;
  border-radius: 18px;
  overflow: auto;
  scrollbar-width: none;
  padding: 42px 48px 36px;
  position: relative;
  border: 1px solid #4d4f56;
  background: linear-gradient(146.47deg, rgba(14, 15, 19, 0.58) 1.32%, rgba(89, 96, 121, 0.58) 100%),
linear-gradient(234.47deg, rgba(0, 0, 0, 0) -0.9%, rgba(0, 0, 0, 0.04) 86.88%);
backdrop-filter: blur(80px);
  box-sizing: border-box;
}

.closeBtn {
  position: absolute;
  top: 34px;
  right: 34px;
  width: 36px;
  height: 36px;
  background: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
  opacity: .85;
  transition: .25s;
}

.closeBtn:hover {
  opacity: 1;
  transform: rotate(90deg);
}

.header1 {
  margin-bottom: 34px;
}

.header1 h2 {
  margin: 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
}

.header1 p {
  margin-top: 10px;
  color: #ededed;
  font-size: 14px;
  font-weight: 400;
}

.row,
.rowBottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;
  margin-bottom: 15px;
}

.field,
.fullField {
  display: flex;
  flex-direction: column;
}

.field label,
.fullField label {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  letter-spacing: .3px;
}

.field label span,
.fullField label span {
  color: #ff5d5d;
}

.field input,
.field select,
.fullField input,
.fullField select {
  width: 100%;
  
  background: rgba(43, 45, 51, 1);
 border: 0.31px solid rgba(165, 165, 165, 1);
  border-radius: 12px;
  padding: 10px 22px;
  color: #ffffff;
  font-size: 18px;
  outline: none;
  transition: .25s;
  box-sizing: border-box;
}

.field input:focus,
.field select:focus,
.fullField input:focus,
.fullField select:focus {
  border-color: #0d67e8;
}

.fullField {
  margin-bottom: 28px;
}

.field input::placeholder,
.fullField input::placeholder {
  color: #bfc2ca;
}

.dateWrapper {
  position: relative;
}

.dateWrapper input {
  cursor: pointer;
}

.field select {
  appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='white' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 18px center;
}

.footer {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  margin: 0;
  color: #f0f0f0;
  font-size: 15px;
}

.footer p span {
  color: #ff5d5d;
}

.addBtn {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 12px;
  background: #0d5acb;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: .25s;
}

.addBtn:hover {
  background: #0b4fb3;
}

.addBtn:active {
  transform: scale(.98);
}
@media (max-width:1030px){
.wrapper2{
  overflow: auto;
}
}
@media (max-width:900px) {

  .modal {
    padding: 30px 24px;
  }

  .row,
  .rowBottom {
    grid-template-columns: 1fr;
    gap: 22px;
  }

  .header h2 {
    font-size: 34px;
  }

  .footer {
    flex-direction: column;
    align-items: stretch;
    gap: 22px;
  }

  .addBtn {
    width: 100%;
  }

  .closeBtn {
    top: 20px;
    right: 20px;
  }
}

@media (max-width:600px) {

  .overlay {
    padding: 12px;
  }

  .modal {
    padding: 24px 18px;
  }

  .header h2 {
    font-size: 28px;
  }

  .header p {
    font-size: 15px;
  }

  .field input,
  .field select,
  .fullField input,
  .fullField select {
    height: 58px;
    font-size: 16px;
  }

  .addBtn {
    height: 56px;
    font-size: 18px;
  }
}
@media (max-width:500px) {
  .bothgraph{
    flex-direction: column;
    align-items: flex-start;
  }
  .graphtoggle{
    margin-top:-10px;
    margin-bottom: 10px;
  }
}
.p-datatable-thead{
    background: rgba(248, 250, 252, 1);
    border-bottom: 1.25px solid rgba(226, 232, 240, 1);
    border-top: 1.25px solid rgba(226, 232, 240, 1);
}




/* tooltip css */
.tooltipWrap {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.infoIcon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #e5e7eb;
  color: #374151;
  font-size: 11px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 🔥 FIXED TOOLTIP */
.tooltipText {
  position: fixed;
  background: rgba(72, 76, 86, 0.8);
  color: #fff;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 12px;
  max-width: 220px;
  line-height: 1.4;
 

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease;

  z-index: 99999;
}


.tooltipWrap:hover .tooltipText {
  opacity: 1;
}


/* red flad row */
.dashboardRow {
  width: 100%;
  margin-top: 25px;
  height: 60vh;
  display: flex;
  gap: 16px;
}

.cardred {
  flex: 1;
  background: #111111;
  border: 1px solid #303030;
  border-radius: 10px;
  overflow: hidden;
}

.cardHeader {
  height: 52px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  border-bottom: 1px solid #262626;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}



.usersList {
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.userItem {
  height: 48px;
  padding: 0 16px;
  background: #222222;
  border: 1px solid #666666;
  border-radius: 9px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #ffffff;
  font-size: 14px;
}

.userName {
  font-weight: 400;
}

.userTime {
  font-weight: 500;
}


.legend {
  padding: 18px 18px 12px;
  display: flex;
  justify-content: space-around;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 8px;

  color: #ffffff;
  font-size: 14px;
}

.dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.highDot {
  background: #ef3d2e;
}

.mediumDot {
  background: #ffb34c;
}

.lowDot {
  background: #ececff;
}

.redflagList {
  padding: 0 18px 18px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height:72%;
  overflow: auto;
  scrollbar-width: none;
}
.pagination {
  height: 46px;
  padding: 0 22px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #2f3138;

  color: #9f9f9f;
  font-size: 14px;
}

.pagebtns1{
  display: flex;
  align-items: center;
  gap: 8px;
}

.arrowBtn {
  width: 30px;
  height: 30px;

  border-radius: 8px;

  border: 1px solid #5a5a5a;
  background: #3a3a3a;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  cursor: pointer;

  transition: 0.25s;
}

.arrowBtn:hover:not(:disabled) {
  border-color: #6b63ff;
}

.arrowBtn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.pageNumber1{
  width: 28px;
  height: 28px;

  border-radius: 50%;
  background-color: rgba(42, 42, 91, 0.5);
  border: 1px solid #5349d8;
 

  color: #fff;
  font-size: 13px;

  cursor: pointer;

  transition: 0.2s;
}

.pageNumber:hover {
  background: rgba(83, 73, 216, 0.2);
}

.activepage {
  background: rgba(60, 38, 157, 1) !important;
  color: #fff;
}

.dots {
  color: #9a9a9a;
  font-size: 14px;
  letter-spacing: 1px;
}

.flagItem {
  min-height: 54px;
  background: #222222;
  border-radius: 10px;
  padding: 22px 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.high{
  border-left: 5px solid #ef3d2e;
}

.medium {
  border-left: 5px solid #ffb34c;
}

.low {
  border-left: 5px solid #ececff;
}

.flagInfo {
  display: flex;
  flex-direction: column;
}

.flagName {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}

.flagDate {
  color: #868686;
  font-size: 11px;
}

.flagStatus {
  min-width: 90px;
  padding: 6px 14px;
  border-radius: 6px;

  background: #1d63d7;
  color: #ffffff;

  font-size: 11px;
  text-align: center;
}

/*heatmap and dounuts */

.wrapper {
  margin: 20px 0px;
  width: 100%;
  display: flex;
  gap: 18px;
}

.heatmapCard {
  flex: 2.2;
  background: #0e1015;
  border: 1px solid #383c46;
  border-radius: 12px;
  overflow: hidden;
}

.reportCard {
  flex: 1;
  background: #0e1015;
  border: 1px solid #383c46;
  border-radius: 12px;
  overflow: hidden;
}

.header {
  height: 64px;
  padding: 0 20px;
  display: flex;
  align-items: center;

  color: #f3f3f3;
  font-size: 16px;
  font-weight: 500;

  border-bottom: 1px solid #272a32;
}

.body {
  padding: 26px 20px;
  display: flex;
  flex-direction: column-reverse;
}



.legend1 {
  display: flex;
  align-items: center;
  gap: 34px;
  margin-bottom: 15px;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 10px;

  color: #f2f2f2;
  font-size: 14px;
}

.box {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}


.grid {
  display: grid;
  grid-template-rows: repeat(9, 17px);
  grid-auto-flow: column;
  grid-auto-columns: 12px;
  gap: 8px;

  overflow-x: auto;
  padding-bottom: 10px;
}

.cell {
  width: 15px;
  height: 15px;
  border-radius: 3px;
}

/* Heat Levels */

.veryLow {
  background: #000000;
}

.low1{
  background: #123321;
}

.moderate{
  background: #226941;
}

.high1{
  background: #3d9b68;
}

.exceptional {
  background: #5ec48b;
}


.reportBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 20px 26px;
}

/* Donut Chrat */

.chart {
  width: 145px;
  height: 145px;
  border-radius: 50%;

  
  background: conic-gradient(
    #2f8f5b 0deg 320deg,
    #ffb04c 320deg 340deg,
    #ff5548 340deg 360deg
  );

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 12px 0 30px;
}

.chartInner {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  background: #0e1015;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  font-size: 22px;
  font-weight: 600;
}



.stats {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.stat {
  display: flex;
  align-items: center;
  gap: 14px;

  color: #f5f5f5;
  font-size: 15px;
  font-weight: 400;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  flex-shrink: 0;
}

.red {
  background: #ff5548;
}

.green {
  background: #2f8f5b;
}

.orange {
  background: #ffb04c;
}


/* project section */
.newproject{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.newproject h1{
  
  font-family: "Outfit", sans-serif;
font-weight: 700;
font-style: Bold;
font-size: 42px;
margin-top: 10px;
letter-spacing: 1px;
text-align: center;
color: #DDDDFF;

}
.newproject h2{
  font-family: "Outfit", sans-serif;
font-weight: 500;
font-style: Bold;
font-size: 30px;

letter-spacing: 1px;
text-align: center;
color: #DDDDFF;

}
.container {
  width: 87%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 21px 33px;
    margin-top: 20px;
}

.cardpr{
  padding:16px 20px;
  border: 1.5px solid #4b5dff;
  border-radius: 16px;
  background: #12274a;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.25s ease;
}

.card:hover {
  border-color: #6676ff;
  transform: translateY(-2px);
}

.text {
  color: #eef2ff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
  user-select: none;
}
.gandmekeeda{
  height:280px;
  width:100%;
}
@media (max-width: 1300px) {
 /* .dashboardRow{
  flex-direction: column;
 } */
 .flagItem{
   justify-content: left;
   align-items:flex-start;
   flex-direction: column;
   min-height:auto;
   padding:8px 16px;
   gap:10px;
  }
}
@media (max-width: 1004px) {
  .pagination{
    width:880px;
    overflow: auto;
  }
}
@media (max-width: 768px) {
  .dashboardRow{
  flex-direction: column;
  height:100vh;
 }
  .container {
    grid-template-columns: repeat(2, 1fr);  
    gap: 20px;
  }
  .flagItem{
   justify-content: left;
   align-items:flex-start;
   flex-direction: column;
   min-height:auto;
   padding:8px 16px;
   gap:10px;
  }

  .card {
    height: 72px;
  }

  .text {
    font-size: 12px;
  }
}



@media (max-width: 1100px) {
  .wrapper {
    flex-direction: column;
  }

  .heatmapCard,
  .reportCard {
    width: 100%;
  }

  .legend {
    flex-wrap: wrap;
    row-gap: 14px;
  }

  .grid {
    grid-template-columns: repeat(12, 18px);
  }

  .reportBody {
    padding-bottom: 32px;
  }
}



@media (max-width: 770px) {
    .graphcontainer{
        flex-direction: column;
    }
    .graphleft, .graphright{
        width: 100%;
    }
    .topcontainer {
        flex-direction: column;
        align-items: flex-start;
    }
   
}
@media (max-width: 500px){
    .gandmekeeda{
  height:240px;
  width:100%;
}
}
@media (max-width: 400px){
  .cards{
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
@media (max-width: 400px){
  .cardpr{
   padding:16px 5px;
  }
  
}