.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: #fff;
  width: 85%;
  max-width: 1100px;
  height: 88vh;
  border-radius: 12px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.header {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  margin-top: -8px;
  color: #666;
  font-size: 14px;
}

.closeBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.topGrid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.label {
  font-size: 14px;
  margin-bottom: 4px;
  display: block;
}

.input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 18px;
  outline: none;
}

.input:focus {
  border-color: #7b61ff;
}

.divider {
  height: 1px;
  background: #ddd;
  margin: 20px 0;
}

.userList {
  flex: 1;
  overflow-y: auto;
  padding-right: 5px;
}

.userCard {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
  cursor: pointer;
}

.userCard.selected {
  border-color: #7b61ff;
  background: #f3ecff;
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
}

.userDetails {
  display: flex;
  flex-direction: column;
}

.userName {
  font-weight: 600;
}

.userRole {
  font-size: 13px;
  color: gray;
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-top: 10px;
}

.cancelBtn {
  background: #eee;
  padding: 10px 22px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.saveBtn {
  background: #7b61ff;
  color: #fff;
  padding: 10px 28px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.selectAllRow {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0 12px;
  font-size: 14px;
  font-weight: 500;
}
