* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.login-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:url(../Components/PrismBackground.svg) no-repeat center/cover;
}
 

.login-card {
  width: 60vw;
  height: 600px;
  display: flex;
  border-radius: 22px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.2);
  box-shadow: 0 25px 60px rgba(0,0,0,0.3);
  overflow: hidden;
}

.login-left {
  width: 50%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.logo-box {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo-box h1 {
  font-size: 30px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.686);
}

.logo-box p {
  font-size: 14px;
  opacity: 0.5;
  letter-spacing: 1px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 16px;
  margin-bottom: 18px;
  border-radius: 14px;
  background: #00000020;
  border: 1px solid rgba(255,255,255,0.25);
}

.input-group svg {
  color: rgba(255, 255, 255, 0.415);
}

.input-group input {
  width: 100%;
  padding: 1px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
}

.input-group input::placeholder {
  color: rgba(255, 255, 255, 0.315);
}

.login-btn {
  margin-top: 20px;
  padding: 14px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, #543DA8, #3A238C);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.login-btn:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

.signin-text {
  margin-top: 25px;
  font-size: 14px;
  opacity: 0.8;
}

.signin-text span {
  color: #cbbcff;
  cursor: pointer;
}

/* RIGHT PANEL */
.login-right {
  width: 58%;
  margin: 40px 0;
  margin-right: 40px;
  border-radius: 18px;
  position: relative;
  overflow: hidden;
}

/* MAIN CONTAINER */
.prism-container {
  width: 100%;
  height: 100%;
  background: transparent;
  position: relative;
  overflow: hidden;
  perspective: 1000px;
}

/* BACKGROUND MESH */
.mesh-bg {
  position: absolute;
  inset: 0;
  background: transparent;
  background-size: 200% 200%;
  opacity: 0.3;
}

/* PRISM */
.prism-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prism {
  width: 260px;
  height: 260px;
  position: relative;
  transform-style: preserve-3d;
}


/* PRISM FACES */
.prism-face {
  position: absolute;
  inset: 0;
  border: 2px solid rgba(78, 64, 254,0.45);
  background: rgba(58, 35, 140,0.1);
  backdrop-filter: blur(6px);
}

.face-front  { transform: translateZ(70px); }
.face-back   { transform: rotateY(180deg) translateZ(70px); }
.face-right  { transform: rotateY(90deg) translateZ(70px); }
.face-left   { transform: rotateY(-90deg) translateZ(70px); }
.face-top    { transform: rotateX(90deg) translateZ(70px); }
.face-bottom { transform: rotateX(-90deg) translateZ(70px); }

/* INNER GLOW */
.prism-glow {
  position: absolute;
  inset: 30px;
  background: rgba(78, 64, 254,0.9);
  border-radius: 50%;
  filter: blur(40px);
}

/* PARTICLES */
.particle {
  position: absolute;
  background: #e879f9;
  border-radius: 50%;
  filter: blur(1px);
}

/* TEXT */
.prism-text {
  position: absolute;
  bottom: 40px;
  left: 40px;
  right: 40px;
  color: white;
}

.prism-text h2 {
  font-size: 32px;
  margin-bottom: 8px;
}

.prism-text p {
  color: #d8b4fe;
  font-size: 16px;
}