.page {
  padding: 40px;
  font-family: Inter, sans-serif;
  color: #333;
}

.title {
  font-size: 41px;
  font-weight: 700;
  color: rgba(104, 78, 185, 1);
}

.subtitle {
  
  font-size: 28px;
  color: rgba(174, 174, 174, 1);
  font-weight: 600;
}

/* ----- CHART ROW ----- */
.chartRow {
  display: flex;
  gap: 28px;
  margin-top: 30px;
}

.card {
  flex: 1;
  background: white;
  padding: 22px;
  border-radius: 18px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
  border: 1px solid #f3f4f6;
}

.card h3 {
  text-align: center;
  font-size: 16px;
  margin-bottom: 18px;
  font-weight: 600;
  color:rgba(171, 171, 171, 1);
}

/* ----- TABLE CARD ----- */
.tableCard {
  margin-top: 32px;
  background: white;
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.08);
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.table th {
  text-align: left;
  color: rgba(104, 80, 190, 1);
  padding-bottom: 12px;
  font-weight: 600;
}

.table td {
  padding: 16px 0;
  border-top: 1px solid #f3f4f6;
}

/* Avatar styling */
.userCell {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #8b5cf6;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.pageBtn {
  padding: 6px 14px;
  background: #eee;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-weight: 600;
  transition: 0.2s;
}

.pageBtn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.pageBtn:hover {
  background: #dcdcdc;
}

.pageNumber {
  font-size: 14px;
  font-weight: bold;
  color: #444;
}


/* Role tag */
.roleTag {
  background: #d1fae5;
  color: #065f46;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

/* Task bubble */
.taskBadge {
  background: #a78bfa;
  padding: 4px 10px;
  border-radius: 50%;
  color: white;
  font-size: 11px;
  margin-left: 8px;
}

/* Productivity Score */
.scoreGood {
  color: #10b981;
  font-weight: 700;
}
