
.wholepage{
    width:100%;
    min-height:100vh;
 height: auto;
     padding: 40px 20px;
    display:flex;
    flex-direction: column;
     background: rgba(5, 5, 5, 1);
  }
.page{
  background: rgba(5, 5, 5, 1);
 
 min-height:100vh;
 height: auto;
 width:100%;
  color: #0f172a;
}



/* ---------- TOP HEADER BAR ---------- */
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  background: white;
 
   background: rgba(5, 5, 5, 1);
}

.topBarLeft {
  display: flex;
  align-items: center;
  gap: 14px;
}

.appIcon {
  font-size: 30px;
  background: rgba(104, 80, 190, 1);

  padding: 6px 14px;
  border-radius: 10px;
}

.appTitle {
  font-size: 24px;
  font-weight: 600;
  color: rgba(220, 220, 255, 1);
}

.appSubtitle {
  font-size: 12px;
  color: rgba(220, 220, 255, 1);
  margin-top: 10px;
}

/* CREATE TICKET BUTTON */
.createTicketBtn {
  background: rgba(0, 111, 255, 1);
  color: white;
 border: 1px solid rgba(109, 120, 255, 1);
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s ease-in-out;
}

.createTicketBtn:hover {
  background: #6d28d9;
}

/* kip cards */
.statsGrid {
  width: 100%;
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 46px;
  margin-bottom: 34px;
}

.statCard {
  background: #161922;
  border: 1px solid #585c68;
  border-radius: 14px;
  min-height: 108px;
  padding: 18px 18px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .25s ease;
  cursor: default;
}

.statCard:hover {
  border-color: #818796;
  transform: translateY(-2px);
}

.statTitle {
  margin: 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1.8px;
}

.statValue {
  margin: 0;
  color: #ffffff;
  font-size: 31px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 2px;
}

@media (max-width:1200px) {
  .statsGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
  }
}

@media (max-width:700px) {
  .statsGrid {
    grid-template-columns: 1fr;
    gap: 18px;
  }

  .statCard {
    min-height: 95px;
    padding: 18px;
  }

  .statTitle {
    font-size: 16px;
  }

  .statValue {
    font-size: 28px;
  }
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.35);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.popupBox {
  width: 380px;
  background: #fff;
  padding: 22px;
  border-radius: 14px;
  box-shadow: 0px 4px 18px rgba(0,0,0,0.1);
  animation: fadeIn 0.25s ease;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.popupHeader h3 {
  font-size: 18px;
  font-weight: 600;
}

.closeBtn {
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}

.assignSelect {
  width: 100%;
  border: 1px solid #d1d5db;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
  margin-bottom: 22px;
}

.popupActions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.saveAssignBtn {
  background: #4f46e5;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.cancelAssignBtn {
  background: #e5e7eb;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.editIcon {
  cursor: pointer;
  margin-left: 6px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* table */

.ticketContainer {
  width: 100%;
  background: #0f1117;
  border: 1px solid #50535c;
  border-radius: 16px;
  overflow: hidden;
}

.ticketToolbar {
  height: 62px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3d4048;
}

.searchBox {
  width: 320px;
  height: 36px;
  border-radius: 12px;
  border: 1px solid #63656d;
  background: #2d2d2d;
  display: flex;
  align-items: center;
  padding: 0 14px;
  gap: 12px;
}

.searchBox svg {
  color: #d7d7d7;
  flex-shrink: 0;
}

.searchBox input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.searchBox input::placeholder {
  color: #c7c7c7;
}

.filterBtn {
  height: 34px;
  padding: 0 18px;
  border-radius: 12px;
  background: transparent;
  border: 1px solid #666;
  color: white;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: .25s;
}

.filterBtn:hover {
  background: #1f232d;
}

.ticketTable {
  width: 100%;
  border-collapse: collapse;
}

.ticketTable thead tr {
  height: 60px;
  border-bottom: 1px solid #444;
  border-top: 1px solid #444;
}

.ticketTable th {
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}

.ticketTable th:first-child {
  text-align: left;
  padding-left: 34px;
}

.ticketTable td {
  height: 58px;
  color: white;
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid #373737;
}

.ticketTable td:first-child {
  text-align: left;
  padding-left: 34px;
}

.tableRow {
  transition: .2s;
  cursor: pointer;
}

.tableRow:hover {
  background: #171b23;
}

.ticketTitle {
  max-width: 330px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breached {
  color: #ff6767;
  font-weight: 500;
}

.remaining {
  color: #ffffff;
}

.priority {
  min-width: 68px;
  height: 30px;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.high {
  color: #ff6a5e;
  border: 1px solid #ff5a4a;
  background: rgba(255, 77, 77, .05);
}

.medium {
  color: #f6c04d;
  border: 1px solid #f6b84a;
  background: rgba(255, 184, 74, .05);
}

.low {
  color: #34d399;
  border: 1px solid #27c784;
  background: rgba(16, 185, 129, .05);
}

.open {
  color: #ffffff;
}

.inprogress {
  color: #ffffff;
}

.resolved {
  color: #ffffff;
}

.pagination {
  height: 58px;
  padding: 0 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination p {
  margin: 0;
  color: #b7b7b7;
  font-size: 15px;
}

.pageButtons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pageButtons button {
  width: 28px;
  height: 28px;
  border-radius: 10px;
  border: 1px solid #285aa7;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: .25s;
}

.pageButtons button:hover {
  background: #1666d9;
}

.activePage {
  background: #1673ea !important;
  border-color: #1673ea !important;
}

.pageButtons button:disabled {
  opacity: .4;
  cursor: not-allowed;
}

@media (max-width:1100px) {

  .ticketContainer {
    overflow-x: auto;
    padding:10px;
  }

  .ticketTable {
    min-width: 900px;
  }

}

@media (max-width:768px) {

  .ticketToolbar {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    gap: 15px;
    margin-bottom:10px;
    padding: 15px;
  }

  .searchBox {
    width: 100%;
  }

  .pagination {
    flex-direction: column;
    gap: 15px;
    padding: 18px;
    height: auto;
  }

}

/* ===== CREATE TICKET OVERLAY ===== */

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3000;
}

.modal {
  width: 560px;
 -webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px);
    background: linear-gradient(146.47deg, #0e0f1394 1.32%, #59607994), linear-gradient(234.47deg, #0000 -.9%, #0000000a 86.88%);
    border: 1px solid #4d4f56;
    border-radius: 18px;

  border-radius: 18px;
  padding: 26px 28px;
 
  animation: fadeIn 0.25s ease;
}

.header {
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 18px;
}

.header h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.header p {
  margin: 4px 0 0;
  font-size: 13px;
  color: #6b7280;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #6b7280;
}

.label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 15px;
  color: WHITE;
}

.input {
  width: 100%;
  padding: 11px 14px;
  background: #2B2D33;

  border-radius: 10px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  margin-bottom: 16px;
  outline: none;
}

.input:focus {
  border-color: #0d5acb;
}

.optionRow {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.optionBtn {
  padding: 8px 14px;
  border-radius: 8px;
 border: 0.5px solid #A5A5A5;
  background: #2B2D33;
  color:white;
  font-size: 13px;
  cursor: pointer;
  transition: 0.2s;
}

.active {
  background: #ede9fe;
  border-color: #0d5acb;
  color: #0d5acb;
}
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}


.textarea {
  width: 100%;
  min-height: 130px;
  resize: none;
  padding: 12px 14px;
  border-radius: 12px;
  border: 0.5px solid #A5A5A5;
  background: #2B2D33;
  font-size: 14px;
  margin-bottom: 20px;
  outline: none;
}

.textarea:focus {
  border-color: #0d5acb;
}

.actions {
  display: flex;
  gap: 12px;
}

.primaryBtn {
  flex: 1;
  background: #0d5acb;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}
.fullLoader {
  position: fixed;
  inset: 0;
  background: rgba(255,255,255,0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 4000;
}

.spinner {
  width: 38px;
  height: 38px;
  border: 4px solid #e5e7eb;
  border-top: 4px solid #0d5acb;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}


.primaryBtn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.cancelBtn {
  flex: 0.4;
  background: white;
  border: 1px solid #d1d5db;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}





@media (max-width: 980px){
  .statsGrid{ grid-template-columns: repeat(2, 1fr); }
  .mainGrid{ grid-template-columns: 1fr; }
}
@media (max-width: 520px){
  .statsGrid{ grid-template-columns: 1fr; }
}

@media (max-width: 600px){
  .topBar{
    flex-wrap: wrap;
    gap:10px;
  }
}

.mobileView{
  display:none;
}
.laptopView{
  display:block;
}

/* 
mobile view cards */
.employeeCard{
    background:#101115;
    border:1px solid #23262d;
    border-radius:14px;
    padding:18px;
    margin-bottom:16px;
}

.cardTop{
    display:flex;
    align-items:center;
    gap:14px;
}

.cardUser{
    flex:1;
}

.cardUser h3{
    color:#fff;
    font-size:22px;
    font-weight:600;
    margin:0;
}

.cardUser p{
    color:#9ca3af;
    font-size:14px;
    margin-top:4px;
}

.cardDivider{
    width:100%;
    height:1px;
    background:#252831;
    margin:16px 0;
}

.cardGrid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
}

.cardLabel{
    display:block;
    color:#8f939b;
    font-size:13px;
    margin-bottom:8px;
}

.cardGrid h4{
    margin:0;
    color:white;
    font-size:16px;
    font-weight:500;
}

.mobileStatus{
    display:inline-flex;
    justify-content:center;
    align-items:center;
    min-width:88px;
    height:32px;
    border-radius:999px;
    font-size:12px;
    font-weight:600;
    text-transform:uppercase;
}
.avatar {
  width: 32px;
  height: 32px;

  border-radius: 50%;

  background: #5b46df;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  font-size: 12px;
  font-weight: 600;

  flex-shrink: 0;
}

.active{ background: #e0e7ff; color: #4338ca;border:1px solid #4338ca;padding:10px 10px; }

.inactive{ background: #fde2e4; color: #b83232;border:1px solid #b83232;padding:10px 10px; }
.desktopview{
    display:block;
}

.mobileView{
    display:none;
}
@media (max-width:500px){

.desktopview{
    display:none;
}



.mobileView{
    display:block;
}

.filteremptable{
    padding:14px;
}

.tableToolbar{
    flex-direction:column;
    width:100%; 
    align-items:stretch;
    gap:14px;
}

.searchBox{
    width:100%;
}

.toolbarRight{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
}

.toolbarBtn{
    justify-content:center;
}

.pagination{
    flex-direction:column;
    align-items:center;
    gap:18px;
}
.pagination span{
  display: none;
}

.pagebtns1{
    width:100%;
    margin-top: 10px;
    justify-content:center;
}
}
@media (max-width:420px){
  .cardTop{
    flex-direction: column;
    align-items: flex-start;
  }
  .toolbarRight{
    grid-template-columns: repeat(2, 1fr);
  }
  .employeespage{
    padding:40px 10px;
  }
}



.ticketTitleAll {
  font-size: 17px;
  font-weight: 600;
  margin-top: 10px;
}

.ticketDetailsAll {
  margin-top: 4px;
  color: #6f6f6f;
  line-height: 1.4;
}

/* Meta Row */
.ticketMetaAll {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 10px;
  color: gray;
  font-size: 13px;
}

/* Footer Row */
.ticketFooterRow {
  margin-top: 12px;
  display: flex;
  gap: 16px;
  font-size: 13px;
  color: #6b6b6b;
}

.detailWrapper {
  background: #0e0f13;
    color: #fff;
    font-family: "Inter", system-ui, sans-serif;
    min-height: 100vh;
    padding: 28px 32px;
}

.backBtn {
  background: #232836;
    border: 1px solid #2a3142;
    border-radius: 8px;
    color: #f1f3f8;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 20px;
    padding: 10px 16px;
    transition: all .2s ease;
}

.detailGrid {
  display: grid;
  grid-template-columns: 1.6fr 0.7fr;
  gap: 20px;
}

/* LEFT SIDE */
.detailLeft {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detailCard {
  background: #161a23;
    border: 1px solid #232836;
    border-radius: 12px;
    padding: 24px;
}

.detailTopRow {
  display: flex;
  gap: 10px;
  align-items: center;
}

.detailId {
  font-weight: bold;
  font-size: 16px;
}

.detailTitle {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}

.detailMeta {
  color: #6b7280;
  margin-top: 5px;
  font-size: 14px;
}

.detailDescriptionBox {
 background: #1a1f2e;
    border-radius: 10px;
    color: #f1f3f8;
    line-height: 1.6;
    margin-top: 15px;
    padding: 15px;
}

.attachmentTitle {
  margin-top: 20px;
  font-weight: 600;
}

.attachmentBox {
  margin-top: 5px;
}

.attachmentItem {
  padding: 8px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background: #f3f4f6;
  margin-bottom: 5px;
}

/* COMMENTS */
.discussionTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.commentRow {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.commentAvatar {
  font-size: 25px;
}

.commentMeta {
  color: #6b7280;
  font-size: 14px;
}

.commentBubble {
  background: #1a1f2e;
    border-radius: 8px;
    color: #f1f3f8;
    line-height: 1.5;
    margin-top: 5px;
    padding: 12px;
}

.commentInputRow {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 15px;
}

.commentAvatarLarge {
  font-size: 30px;
}

.commentInput {
 background: #1a1f2e;
    border: 1px solid #232836;
    border-radius: 8px;
    color: #f1f3f8;
    flex: 1 1;
    min-width: 0;
    outline: none;
    padding: 12px 16px;
    transition: all .2s ease;
}

.commentSend {
  background: #7c3aed;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* RIGHT SIDE */
.detailRight {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sideCard {
  background: #161a23;
    border: 1px solid #232836;
    border-radius: 12px;
  border-radius: 10px;
  padding: 20px;
}

.sideTitle {
    display:flex;
    align-items: center;
    justify-content: space-between;
  font-weight: 600;
  margin-bottom: 15px;
}

.sideSubtitle {
  margin-top: 12px;
  font-size: 14px;
  color: #6b7280;
}

.sideValue {
  font-size: 15px;
  font-weight: 600;
}

.statusList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.statusOption {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  text-align: center;
}

.activeStatus {
  border-width: 2px;
  border-color: #6366f1;
  color:#6366f1;
  background: #eef2ff;
}
.openStatus{
    border-width: 2px;
  border : 2px solid;
  color:rgba(255, 0, 0, 0.45);
border-image-source: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
linear-gradient(0deg, rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45));


  background: rgba(255, 176, 133, 1);

}
.progressStatus{
    border-width: 2px;
  border: 2px solid;
 color:rgba(0, 25, 255, 0.61);
border-image-source: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
linear-gradient(0deg, rgba(0, 25, 255, 0.61), rgba(0, 25, 255, 0.61));


  background: rgba(164, 210, 255, 1);

}
.resolvedStatus{
    border-width: 2px;
    color:rgba(27, 154, 39, 1);
  border: 2px solid rgba(27, 154, 39, 1);
  background: rgba(160, 255, 173, 1);

}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.35);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.popupBox {
  width: 380px;
  background: #fff;
  padding: 22px;
  border-radius: 14px;
  box-shadow: 0px 4px 18px rgba(0,0,0,0.1);
  animation: fadeIn 0.25s ease;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.popupHeader h3 {
  font-size: 18px;
  font-weight: 600;
}

.closeBtn {
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}

.assignSelect {
  width: 100%;
  border: 1px solid #d1d5db;
  padding: 10px;
  border-radius: 8px;
  outline: none;
  font-size: 15px;
  margin-bottom: 22px;
}

.popupActions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.saveAssignBtn {
  background: #4f46e5;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.cancelAssignBtn {
  background: #e5e7eb;
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.editIcon {
  cursor: pointer;
  margin-left: 6px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}



